{% extends 'base.html.twig' %}


<body>
  <div class="wrapper">
      {% block contenu %}
  <form class="login loading ok" action="{{ url_for('CRC_calcul')}}" method=POST>
    <p class="title">Calcul du CRC</p>
    <input type="text" placeholder="Saisir le message" autofocus name="message"/>
    <i class="fa fa-text"></i>
    <a href="#">Principe du CRC</a>
    <button>
      <i class="spinner"></i>
      <span class="state">{{ crc }}</span>
    </button>
  </form>
  <footer><a href="{{ url_for('CRC_index')}}">Retour a la page </a></footer>
</div>
  {% endblock %}
